Temp.py
__pycache__/VOISeR_Cell.cpython-37.pyc
__pycache__/Feeder.cpython-37.pyc
__pycache__/Modules.cpython-37.pyc
.vscode/.ropeproject/objectdb
__pycache__/Analyzer.cpython-37.pyc
__pycache__/ProgressBar.cpython-37.pyc
.vscode/.ropeproject/config.py
